<!DOCTYPE html>
<html lang="pt-br" ng-app="unoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de UNO</title>
    <link rel="stylesheet" href="home-component.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div class="page-center-content">
    <img src="assets/uno-logo.png" alt="Logo do Curso de UNO" class="logo-center">
    
    <span class="page-center-text">
        O Maior Curso de UNO do Mundo Está Aberto.<br>
        Garanta sua vaga e eleve seu jogo a um novo nível!
    </span>
    
    <a routerLink="/alunos" class="subscribe-btn">
        Se Inscrever
    </a>
</div>

</body>
</html>